#filter-menu {

    margin: .5em;

    label {
        color: $gray;
    }
    
    .form-control, select {
        height: 2em;
        padding: 0;
        padding-left: .5em;
        align-items: center;
        border: none;
        border-bottom: 1.5px solid $main-blue;
        border-radius: 0;
    }
}

#booking-collapse {


    .btn {
        border-radius: 2px;
        background: $main-blue;

        &:hover {
            background: $blue;
        }
    }

    .collapse-btn {
        background: white;
        box-shadow: $shadow;
        border-radius: 0;
        color: $main-blue;

        &:hover {
            color: $blue;
            background: white;
        }

    }
    
    .form-row {
        box-shadow: $shadow;
        margin: 1em .5em;
        padding: .5em 0;
    }
}

.filters {
    display: flex;
    margin: 1em;
    margin-bottom: 0;

    div {
        text-align: center;
        width: 50%;
    }
}

#flight-ticket {

    margin: .5em;
    padding: .8em;
    box-shadow: $shadow;

    .fas {
        font-size: 12pt;
    }

    .btn {
        background: $main-blue;
    }
    
    label {
        margin: 0;
    }

    h5 {
        font-weight: bold;
        margin: 0;
    }

    &:hover {
        cursor: pointer;
    }
}

.flight-title {
    display: flex;
    justify-content: space-between;

    margin-bottom: 1em;
}

.flight-info {
    display: flex;
    justify-content: space-between;
}