#landing {
    height: 90vh;
    position: relative;

    .img-holder {
        background-image: url('../images/landpage.jpg');
        
        height: 50%;
        width: 100%;
    }
}

.booking-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    min-height: 15em;
    max-width: 50em;
    background: $main-blue;
    color: $light;
    box-shadow: $shadow;

    h5 {
        margin-top: .8em;
    }

    input {
        background: $blue;
        border: none;
        color: $light;
        border-radius: 0;
    }
}

#flight-table {

    div {
        padding: 0;
    }

    .table-item {
        display: flex;
        justify-content: space-between;
    
        margin: .5em;
        padding: .5em .8em;
        box-shadow: $basic-shadow;
        
        h5 {
            font-weight: bold;
        }
    
        &:hover {
            h5 {
                color: $blue;
            }
            cursor: pointer;
        }
    }
}



