p {
  margin: 0;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  color: #154481;
  background: white;
  z-index: 2;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-brand {
  color: #154481;
}

.navbar-light .navbar-brand:hover {
  color: #154481;
}

.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item .nav-link:hover {
  color: #154481;
}

footer {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-holder {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  width: 100%;
  text-transform: uppercase;
  background: #AD2D4E;
  color: #E5F0FF;
  border-radius: 0;
}

.btn:hover {
  color: #E5F0FF;
}

.btn-submit {
  padding: .5em;
  background: #5474B6;
  border: none;
  color: #E5F0FF;
  text-transform: uppercase;
  margin: .5em;
}

.btn-submit:hover {
  background: #154481;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  width: 10em;
}

.title::after {
  content: '';
  background: #a0a0a0;
  display: block;
  width: 20%;
  margin: .5em;
  height: 1px;
}

.color-blue {
  color: #5474B6;
}

.color-main {
  color: #154481;
}

.color-light {
  color: #a0a0a0;
}

#landing {
  height: 90vh;
  position: relative;
}

#landing .img-holder {
  background-image: url("../images/landpage.jpg");
  height: 50%;
  width: 100%;
}

.booking-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 15em;
  max-width: 50em;
  background: #154481;
  color: #E5F0FF;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.booking-card h5 {
  margin-top: .8em;
}

.booking-card input {
  background: #5474B6;
  border: none;
  color: #E5F0FF;
  border-radius: 0;
}

#flight-table {
  width: 100%;
}

#flight-table div {
  padding: 0;
}

#flight-table .table-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: .5em;
  padding: .5em .8em;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

#flight-table .table-item h5 {
  font-weight: bold;
}

#flight-table .table-item:hover {
  cursor: pointer;
}

#flight-table .table-item:hover h5 {
  color: #5474B6;
}

.page {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  padding: 1em 0;
  width: 20em;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border: none;
}

.nav-pills {
  padding: 0;
}

.nav-pills .nav-item {
  width: 50%;
  text-align: center;
  padding: 0;
}

.nav-pills .nav-item .nav-link {
  margin-top: .5em;
  padding: 0;
  color: #154481;
  text-transform: uppercase;
}

.nav-pills .nav-item .active {
  background: none;
}

.nav-pills .nav-item .active::after {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background: #AD2D4E;
  margin-top: .5em;
}

#login-form {
  color: #154481;
}

#login-form label {
  text-transform: uppercase;
  font-size: .8em;
}

#login-form .form-control {
  height: 2em;
  border: none;
  border-bottom: 2px solid #154481;
  border-radius: 0;
}

#login-form a {
  color: #5474B6;
  float: right;
  font-size: .8em;
}

#login-form a:hover {
  text-decoration: none;
  color: #154481;
}

#filter-menu {
  margin: .5em;
}

#filter-menu #filter {
  margin: 1em 0;
  margin-bottom: 0;
  height: 2.5em;
  color: #154481;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border: none;
}

#filter-menu label {
  color: #a0a0a0;
}

#filter-menu .form-control, #filter-menu select {
  height: 2em;
  padding: 0;
  padding-left: .5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-bottom: 1.5px solid #154481;
  border-radius: 0;
}

#booking-collapse .btn {
  border-radius: 2px;
  background: #154481;
}

#booking-collapse .btn:hover {
  background: #5474B6;
}

#booking-collapse .collapse-btn {
  background: white;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 0;
  color: #154481;
}

#booking-collapse .collapse-btn:hover {
  color: #5474B6;
  background: white;
}

#booking-collapse .form-row {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  margin: 1em .5em;
  padding: .5em 0;
}

#flight-ticket {
  margin: .5em;
  padding: .8em;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

#flight-ticket .fas {
  font-size: 12pt;
}

#flight-ticket .btn {
  background: #154481;
}

#flight-ticket label {
  margin: 0;
}

#flight-ticket h5 {
  font-weight: bold;
  margin: 0;
}

#flight-ticket:hover {
  cursor: pointer;
}

.flight-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1em;
}

.flight-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=main.css.map */